<div id="evo-header" fxLayoutAlign="center center" >
  <div class="header-container" fxLayoutAlign="end center">
    <img class="icon" style="cursor: pointer;" routerLink="" src="../../../assets/basics/app-icon.png" >  
    <div class="navbar-container">
      <div class="navbar-section" fxLayout="row" fxLayoutAlign="center center" routerLink="./login">
        <span class="material-icons-outlined navbar-icon"  >person</span>
        <div *ngIf="isLoggedIn | async " class="navbar-title">Me connecter</div>
      </div>
      <div class="navbar-section" fxLayout="row" fxLayoutAlign="center center">
        <span class="material-icons-outlined navbar-icon cart"   >shopping_cart</span>
        <div fxLayout="column">
          <div class="navbar-title">Mon Panier</div>
          <div fxLayoutAlign="center center" style="font-size: 13px;"> 0 articles</div>
        </div>
      </div>
    </div>
   
  </div>
    
</div>
