<div id="login" fxLayoutAlign="center center" fxLayout="column">
    <img  src="../../../../assets/basics/title.png">
    <div fxLayoutAlign="start center" style="padding-left:10%;padding-top:5%; padding-bottom:5px ;width: 100%;">Email</div>
    <input type="text" id="mail" name="mail" required  >
    <div fxLayoutAlign="start center" style="padding-left:10%;padding-top:10px; padding-bottom:5px ;width: 100%;">Mot de passe</div>
    <input type="password" id="mail" name="mail" required  >
    <button class="btn " fxLayoutAlign="center center" >Se Connecter </button>
    <div fxLayout="row">
        <p>Vous n'avez pas de compte ? </p><p style="margin-left: 5px ; color:#5E18EB ; cursor: pointer;"> Inscrivez vous</p>
    </div>
</div>
