<div id="presentation" fxLayout="column">
    <div>   
        <h1 style="padding: 0 20px;" fxLayout="row">  
            <span class="material-icons navbar-icon "   >store</span>
            Présentation</h1>
            <p>
                Votre salon fermera ses portes pour les congés d'été du 13 juillet au 7 aout 2022 inclus, n'hésitez pas à anticiper vos rendez- vous ! Merci de votre compréhension !
        
        Vous allez pouvoir dès maintenant prendre votre rendez-vous sur ce site ! <br>
        
        Votre boutique vous accueille dans une ambiance professionnelle et chaleureuse.<br>
        
        Nous sommes à votre écoute et disponibles pour combler vos attentes et révéler votre beauté. 
            </p>
    </div>
    <div class="horaires">
        <h1 style="padding: 0 20px;" fxLayout="row">  
            <span class="material-icons navbar-icon "   >schedule</span>
            Horaires</h1>
            <p style="padding-left: 60px;">
               Lundi : 9h-18h <br>
               Mardi : 9h-18h <br>
               Mercredi : 9h-18h <br>
               Jeudi : 9h-18h <br>
               Vendredi : 9h-18h <br>
            </p>
    </div>
  
</div>