#reservation-list{

   
   

    h1{
        text-align: center;
    }

    .reservations-container{
        .reservation{
            border: 0.5px rgb(185, 184, 184) solid;
            padding: 10px 10%;
            height: 120px;
            .info{
                margin-bottom: 20px;
                .title{
                    font-weight: 800;
                }
                .desc{
                    padding: 0 10px;
                    font-size: 12px;
                    color: gray;
                    white-space: wrap;
                    width: 90%;
                    display: block;
                    overflow: hidden
                }
            }
            .actions{
                .btn {
                    background-color: red;
                    border: 2px solid red;
                    border-radius: 0.6em;
                    color: white;
                    cursor: pointer;
                    font-size: 12px;
                    padding: 0;
                    text-transform: uppercase;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    height: 30px;
                    width: 80px;
                    text-align: center;
                    justify-content:center;   
                 }
            }
            
            .prix{
                color:#5E18EB ;
                text-align: center;
                font-weight: 600;
                margin-bottom: 5px;
            }
            .temps{
                margin-left: 15px;
                text-align: center;
                font-size: 16px;
            }
        }
    }
}