<div id="reservation-list" >
    <h1> Mes réservations</h1>
    <div class="reservations-container"> 
        <div class="reservation"  fxLayout="row">
           <div class="info" fxLayout="column">
             <div class="title">22/09/2022</div>
             <div class="desc">
                est l'un des meilleurs soins capillaire sur le marché actuellement. Il a été récompensé par un prix Nobel, alliant 6 sortes de kératines et plusieurs acides aminés. Il pénètre en profondeur le cheveu et agit durablement sur la fibre capillaire, sans aucun pouvoir lissant. Elle répare vos cheveux jusqu'à la racine et apporte de la souplesse et brillance pendant 4 à 6 semaine.
             </div>
        </div>
            <div class="actions" fxLayout="column"> 
                <div class="prix">99€</div>
                <div class="temps" fxLayout="row"><span class="material-icons-outlined navbar-icon" style="font-size: 18px; margin-right:2px;" >schedule</span>2H</div>
                <button  class="btn "  >Annuler</button>
            </div>
        </div>
    </div>
    <div class="reservations-container"> 
        <div class="reservation"  fxLayout="row">
           <div class="info" fxLayout="column">
             <div class="title">22/09/2022</div>
             <div class="desc">
                est l'un des meilleurs soins capillaire sur le marché actuellement. Il a été récompensé par un prix Nobel, alliant 6 sortes de kératines et plusieurs acides aminés. Il pénètre en profondeur le cheveu et agit durablement sur la fibre capillaire, sans aucun pouvoir lissant. Elle répare vos cheveux jusqu'à la racine et apporte de la souplesse et brillance pendant 4 à 6 semaine.
             </div>
        </div>
            <div class="actions" fxLayout="column"> 
                <div class="prix">99€</div>
                <div class="temps" fxLayout="row"><span class="material-icons-outlined navbar-icon" style="font-size: 18px; margin-right:2px;" >schedule</span>2H</div>
                <button  class="btn "  >Annuler</button>
            </div>
        </div>
    </div>
    <div class="reservations-container"> 
        <div class="reservation"  fxLayout="row">
           <div class="info" fxLayout="column">
             <div class="title">22/09/2022</div>
             <div class="desc">
                est l'un des meilleurs soins capillaire sur le marché actuellement. Il a été récompensé par un prix Nobel, alliant 6 sortes de kératines et plusieurs acides aminés. Il pénètre en profondeur le cheveu et agit durablement sur la fibre capillaire, sans aucun pouvoir lissant. Elle répare vos cheveux jusqu'à la racine et apporte de la souplesse et brillance pendant 4 à 6 semaine.
             </div>
        </div>
            <div class="actions" fxLayout="column"> 
                <div class="prix">99€</div>
                <div class="temps" fxLayout="row"><span class="material-icons-outlined navbar-icon" style="font-size: 18px; margin-right:2px;" >schedule</span>2H</div>
                <button  class="btn "  >Annuler</button>
            </div>
        </div>
    </div>
</div>